var filters = {
    formatPrice: function(value) {
      var number = ''
      if (typeof value != "string") {
        number = value.toString()
      }else{
        number= value
      }

      if (number.length <= 3)
        return (number == '' ? '0' : number);
      else {
        var mod = number.length % 3;
        var output = (mod == 0 ? '' : (number.substring(0, mod)));
        for (i = 0; i < Math.floor(number.length / 3); i++) {
          if ((mod == 0) && (i == 0))
            output += number.substring(mod + 3 * i, mod + 3 * i + 3);
          else
            output += ',' + number.substring(mod + 3 * i, mod + 3 * i + 3);
        }
        return (output);
      }
    }
}
module.exports = {
  formatPrice: filters.formatPrice
}